{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.fints_prerequisites_title') }}</h3>
                    </div>
                    <div class="box-body">
                        <h4 class="box-title">{{ trans('import.fints_prerequisites_headline') }}</h4>
                        {{ trans('import.fints_prerequisites_text')|raw }}

                    </div>

                    <div class="box-footer">
                        <form class="form-horizontal" action="{{ route('import.prerequisites.post',['fints']) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="confirmed-warnings" value="true"/>
                            <button type="submit" class="btn btn-warning">{{ trans('import.fints_prerequisites_button_ok') }}</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
